openapi: 3.2.0
info:
  title: 1Password Events Introspection API
  description: The 1Password Events API provides programmatic access to event data generated within a 1Password account. It enables security teams and administrators to retrieve sign-in attempts, item usage records, and audit events for monitoring, compliance, and security analysis. The API uses cursor-based pagination with POST requests to efficiently stream large volumes of event data.
  version: 2.0.0
  contact:
    name: 1Password Support
    url: https://support.1password.com/
  termsOfService: https://1password.com/legal/terms-of-service/
servers:
- url: https://events.1password.com
  description: 1Password Events API server (US). Replace with the appropriate base URL for your 1Password account region.
security:
- bearerAuth: []
tags:
- name: Introspection
  description: Retrieve information about the authentication token being used, including its features and permissions.
paths:
  /api/v1/introspect:
    get:
      operationId: introspectToken
      summary: 1Password Introspect Authentication Token
      description: Returns information about the token used for authentication, including its UUID, features, and the account it belongs to.
      tags:
      - Introspection
      responses:
        '200':
          description: Successfully retrieved token information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenIntrospection'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    TokenIntrospection:
      type: object
      description: Information about the bearer token used for authentication.
      properties:
        uuid:
          type: string
          format: uuid
          description: The unique identifier of the token.
        features:
          type: array
          description: The features and permissions the token has access to.
          items:
            type: string
            enum:
            - signinattempts
            - itemusages
            - auditevents
    Error:
      type: object
      description: Represents an error response from the Events API.
      properties:
        status:
          type: integer
          description: The HTTP status code.
        message:
          type: string
          description: A human-readable error message.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: An Events API bearer token generated from 1Password. Each request must include this token in the Authorization header. The token must have the appropriate feature permissions for the endpoint being accessed.
externalDocs:
  description: 1Password Events API Reference
  url: https://developer.1password.com/docs/events-api/reference/
